<div style="width: 200px">
    <div class="d-flex flex-row">
        <div class="p-2" style="border: 1px solid gray;">
            <div class="d-flex flex-column">
                <div class="p-2 center" style="border: 1px solid gray;margin: 0px">Flex item 1</div>
                <div class="p-2" style="border: 1px solid gray;margin: 0px">
                    <div class="d-flex flex-row margin: 0px">
                        <div class="p-2" style="border: 1px solid gray;">Flex item 1</div>
                        <div class="p-2" style="border: 1px solid gray;">Flex item 2</div>
                        <div class="p-2" style="border: 1px solid gray;">Flex item 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2" style="border: 1px solid gray;">Flex item 2</div>
        <div class="p-2" style="border: 1px solid gray;">Flex item 3</div>
    </div>
</div>